<a href="https://colab.research.google.com/github/shivjain123/Naive_Bayes-class/blob/master/Naive_Bayes_and_Logistic_Regression_(class).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as p

df = p.read_csv("https://raw.githubusercontent.com/whitehatjr/datasets/master/C120/income.csv")

print(df.head())

   age          workclass  ...  native-country  income
0   39          State-gov  ...   United-States   <=50K
1   50   Self-emp-not-inc  ...   United-States   <=50K
2   38            Private  ...   United-States   <=50K
3   53            Private  ...   United-States   <=50K
4   28            Private  ...            Cuba   <=50K

[5 rows x 14 columns]

In [2]:
df.describe()

                age  education-num  capital-gain  capital-loss  hours-per-week
count  45222.000000   45222.000000  45222.000000  45222.000000    45222.000000
mean      38.547941      10.118460   1101.430344     88.595418       40.938017
std       13.217870       2.552881   7506.430084    404.956092       12.007508
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       47.000000      13.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [ ]:
from sklearn.model_selection import train_test_split as tts

features = df[["age", "education-num", "hours-per-week", "capital-gain", "capital-loss"]]
labels = df["income"]

f_train, f_test, l_train, l_test = tts(features, labels, test_size = 0.25, random_state = 1)

In [ ]:
from sklearn.naive_bayes import GaussianNB as g
from sklearn.metrics import accuracy_score as acs
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

f_train = sc.fit_transform(f_train)
f_test = sc.fit_transform(f_test)

model = g()

model.fit(f_train, l_train)

In [10]:
label_prediction = model.predict(f_test)
my_accuracy_score = acs(l_test, label_prediction)

print(my_accuracy_score)

0.7920573147001592

In [ ]:
from sklearn.linear_model import LogisticRegression as lr

model2 = lr(random_state = 0)

model2.fit(f_train, l_train)

new_prediction = model2.predict(f_test)

print(new_prediction)

new_acc_score = acs(l_test, new_prediction)

print(new_acc_score)

In [ ]:
age = float(input("Please enter your age."))
education_num = float(input("Please enter your Education number."))
hours_per_week = float(input("Please enter how many hours you work per week."))
capital_gain = float(input("Please enter your capital gain."))
capital_loss = float(input("Please enter your capital loss."))

test = sc.transform([[age, education_num, hours_per_week, capital_gain, capital_loss]])
final_test = model2.predict(test)

if final_test == '>50k':
  print("You income is good.")
else :
  print("Your income is not that good.")